@tailwind base;
@tailwind components;
@tailwind utilities;

#carousel-dots span {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

#carousel-dots span.active {
  background-color: #333; /* active slide */
}
