<!-- start header -->
<header
  class="bg-headerYellow max-w-[1383px] w-full mx-auto rounded-[50px] flex justify-between items-center px-8 py-4 shadow-md font-roboto mt-5"
>
  <!-- left logo -->
  <div class="flex items-center space-x-3">
    <img
      src="../assets/food-order-logo.png"
      alt="foodOrder+ logo"
      class="h-8 sm:h-10 object-contain"
    />
  </div>
  <!-- Desktop center Nav -->
  <nav class="hidden md:flex space-x-8 text-white font-semibold">
    <a href="../index.html" class="hover:underline">Home</a>
    <a href="../pages/menu.html" class="hover:underline">Menu</a>
    <a href="../pages/contact.html" class="hover:underline">Contact</a>
  </nav>
</header>
<!-- End Header -->
